html {
    height: 100%;
}

body {
    font-family: "Ubuntu";
    background-color: #1C2733;
    font-weight: 300;
    margin: 0px;
    height: 100%;
}

#canvastile {
    width: calc(55% - 8px);
    height: calc(60% - 42px);
    background-color: #394455;
    margin: 0px 0px 0px 5px;
    float: left;
    border-radius: 5px;
}

#trusscanvas {
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    margin: 5px;
    background-color: #4A5A70;
    border-radius: 4px;
    border: 2px solid white;
}

#controltile {
    width: calc(45% - 8px);
    height: calc(60% - 42px);
    background-color: #394455;
    margin: 0px 0px 0px 5px;
    float: left;
    border-radius: 5px;
    position: relative;
}

.gendata {
    width: calc(100% - 20px);
    margin: 15px 0 10px 10px;
    border-spacing: 0;
    border-top: 1px solid #1C2733;
    border-right: 1px solid #1C2733;
}

.gendata tr {
    height: 13px;
}

.gendata th {
    width: 50%;
    border-bottom: 1px solid #1C2733;
    border-left: 1px solid #1C2733;
    background-color: #4A5A70;
    color: white;
    font-weight: 300;
}

.gendata th p {
    margin: 2px;
}

.controlbutton {
    width: calc(50% - 27px);
    margin: 20px 0 0 15px;
    height: 80px;
    float: left;
    border: 2px solid white;
    color: white;
}

.controlbutton p {
    width: 100%;
    margin: 24px 0 0 0;
    text-align: center;
    font-size: 25px;
}

.activecontrol {
    background-color: #F5AC07;
    color: #1C2733;
}

.activecontrol:hover {
    background-color: #FFBE37;
    cursor: pointer;
}

.inactivecontrol {
    background-color: #4A5A70;
    color: white;
}

.inactivecontrol:hover {
    background-color: #6A81A1;
    cursor: pointer;
}

.disabledcontrol {
    opacity: 0.2;
}

.enabledcontrol {
    background-color: #4A5A70;
    cursor: pointer;
}

.enabledcontrol:hover {
    background-color: #6A81A1;
    cursor: pointer;
}

#selectgen {
    width: calc(100% - 140px);
    margin: 15px 70px 15px 70px;
    position: absolute;
    bottom: 5px;
}

input[type=range]{
    -webkit-appearance: none;
    background: #7588a3;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #7588a3;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #F5AC07;
    margin-top: -7px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

output { 
  position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 40px; 
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
output:after { 
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

#controltile h3 {
    font-size: 30px;
}

#controltile #gen1 {
    color: white;
    position: absolute;
    margin: 0px;
    left: 18px;
    bottom: 11px;
    font-size: 21px;
}

#controltile #gencurrent {
    color: white;
    position: absolute;
    margin: 0px;
    right: 10px;
    bottom: 11px;
    font-size: 21px;
    text-align: center;
}



#graphtile {
    width: calc(55% - 8px);
    height: calc(40% - 42px);
    background-color: #394455;
    margin: 5px 0px 0px 5px;
    float: left;
    border-radius: 5px;
}

#progressgraph {
    width: calc(100% - 20px);
    height: calc(100% - 30px);
    margin: 30px 0 0 10px;
}

#datatile {
    width: calc(45% - 8px);
    height: calc(40% - 42px);
    background-color: #394455;
    margin: 5px 0px 0px 5px;
    float: left;
    border-radius: 5px;
}

h3 {
    margin: 0px;
    color: white;
    font-size: 20px;
    margin: 5px 0px 0px 8px;
    font-weight: 300;
}

#databox {
    width: calc(100% - 30px);
    height: calc(100% - 60px);
    margin: 5px 0 0 5px;
    padding: 10px;
    background-color: #4A5A70;
    border-radius: 4px;
    overflow-y: scroll;
}

#databox p {
    margin: 0px;
    padding: 8px;
    color: white;
    font-size: 13px;
    word-wrap: break-word;
}


#topbar {
    width: 100%;
    height: 38px;
    background-color: #F5AC07;
    margin: 0px 0px 5px 0px;
    box-shadow: 0 -1px 1px 2px #000;
}

#topbar p {
    color: #1C2733;
    padding: 2px 0px 0px 15px;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

#lowbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: #F5AC07;
    margin: 0px 0px 0px 0px;
    box-shadow: 0 1px 1px 2px #F5AC07;
}

#lowbar p {
    margin: 6px 0 0 10px;
    padding: 0;
    font-weight: 400;
}

